* {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=roboto);

html {
    font-family: "roboto", arial;
    font-size: 18px;
    padding: 30px;
}

body {
    color: #f8f9fc;
    background-image: url(https://images.unsplash.com/photo-1578424001417-a17861922df9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
    main section {
        grid-template-columns: 1fr;  }
}